.title {
    font-size: 150px;
    margin: 0;
    text-shadow: 15px 5px 2px black;
}
.subTitle{
    font-size: 40px;
    margin: 20px;
}
.btn{
    font-size: 18px;
    margin: 5px;
}

a {
    text-decoration: none;
}

.bg {
    background-color: var(--gray_blue);
    text-align: center;
    color: white;
    user-select: none;
    padding-top: 18vh;
    height: 100vh;
}