.recommendation {
    background-color: var(--light_blue_half_opacity);
    padding: 20px 26px;
    border-radius: 25px;
}

.recommendationTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    padding: 4px 14px;
    border-radius: 15px;
    border: none;
    background-color: var(--violet);
    color: white;
}

.btn:hover {
    background-color: var(--black_blue);
}