.recommendation {
    background-color: var(--light_blue_half_opacity);
    padding: 10px 16px;
    border-radius: 15px;
}

.recommendationTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.recommendationDatetime {
    font-size: 12px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.editBtn {
    background: url("../../../../assets/img/icon-edit.svg") center/cover no-repeat;
    width: 22px;
    height: 24px;
    cursor: pointer;
}

.deleteBtn {
    background: url("../../../../assets/img/icon-trash-can.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.text {
    font-size: 12px;
}

@media screen and (min-width: 600px) {
    .recommendation {
        padding: 20px 26px;
    }

    .recommendationDatetime {
        font-size: 14px;
    }

    .text {
        font-size: 14px;
    }
}

@media screen and (min-width: 1052px) {
    .recommendation {
        border-radius: 25px;
    }

    .recommendationDatetime {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }
}

.avatarButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.avatarBtn {
    background-color: var(--violet);
    border-radius: 17px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
}

.avatarBtn:hover {
    background-color: var(--black_blue);
}


.fileName {
    background-color: var(--bg_light_blue);
    border-radius: 17px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

.avatarBtn:disabled  {
    background-color: var(--bg_light_blue);
    color: var(--gray_blue);
}
