.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.resetBox {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.two_inputs_row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.input_flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotlink {
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--black_blue);
    font-weight: 600;
}

.forgotlink:hover {
    color: #616161;
}

.LoginInput {
    width: 100%;
    border-radius: 1.25rem;
    font-size: 1.125rem;
    color: var(--black_blue);
    padding: 1rem 2rem;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.LoginInput:focus {
    outline: none;
    offset: inherit;
}

.typeError {
    width: 80%;
    text-align: center;
    color: var(--black_blue);
    margin: 10px 0;
    padding: 0;
}

.typeText {
    margin: 20px 0;
    padding: 0;
}

.margin_bottom {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 320px) {
    .LoginInput::placeholder {
        font-size: 1rem;
    }

    .LoginInput {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    .two_inputs_row {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    .LoginInput {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }

    .LoginInput::placeholder {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 1052px) {
    .LoginInput {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }

    .two_inputs_row {
        flex-direction: row;
    }
}