.AdminPanel {
    margin-top: 100px;
}

.AdminPanel_container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AdminPanel_btn {
    padding: 10px 20px;
    margin-right: 20px;
    background: #eeeeee;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}