.alice-carousel__stage {
    width: 850px
}

.alice-carousel span {
    display: none;
}

.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item {
    background: url("../../../assets/img/arrow-carousel.svg") center no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 117px;
}
.alice-carousel__next-btn-item { 
    right: -50px;
}

.alice-carousel__prev-btn-item {
    left: -50px;
    transform: scale(-1, 1);
}
