.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--light_blue);
    border-top-right-radius: 25px;
}

.sidebar_colappsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light_blue);
    border-radius: 50%;
    align-self: flex-start;
    padding: 20px;
}

.open_btn {
    background: url("../../../assets/img/arrow-in-circle.svg") center/contain no-repeat;
    transform: rotate(180deg);
}

.header_menu_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 20px 30px 20px;
    align-items: center;
}

.open_btn,
.close_btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../../assets/img/arrow-in-circle.svg") center/contain no-repeat;
    cursor: pointer;
    opacity: 0.55;
}

.menu_text {
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black_blue);
}