/* НАВИГАЦИОННЫЙ БЛОК */

.navigationBlock {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 70px 0;
}

.navLinkBox {
    width: 49%;
    padding: 30px 80px;
    background-color: var(--light_blue);
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkBox {
    width: 49%;
    padding: 30px 80px;
    background-color: var(--light_blue);
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkBox:hover {
    box-shadow: 0 0 9px var(--gray_blue);
    transition: 0.3s;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    color: var(--black_blue);
}

.arrowDown, .arrowRight {
    background: url("../../assets/img/arrow-short.svg") center/contain no-repeat;
    width: 47px;
    height: 30px;
}

.arrowDown {
    transform: rotate(90deg);
}

.allQuestions {
    background-color: var(--light_blue);
    padding: 20px;
    border-radius: 2rem;
}

.question {
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: var(--bg_light_blue);
}