.doctorInformationBlock {
    padding: 34px 80px;
    border-radius: 3.125rem;
    display: flex;
    gap: 20px;
    background-color: var(--light_blue_half_opacity);
}

.doctorAvatar {
    width: 300px;
    height: 320px;
    border-radius: 1.56rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctorAvatarAddIcon {
    background: url("../../assets/img/plus.svg") center/cover no-repeat;
    width: 75px;
    height: 75px;
}

.personalInformation {
    flex-grow: 1;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.personalInformationInput {
    padding: 11px 26px;
    width: 100%;
    font-size: 20px;
    background-color: var(--bg_light_blue);
    border: none;
    border-radius: 1.56rem;
}

.personalInformationMiddle {
    display: flex;
    gap: 40px;
}

.editBtn {
    align-self: flex-end;
}


/* СЕРТИФИКАТЫ */

.slider {
    background-color: var(--light_blue_half_opacity);
    padding: 40px 80px;
    border-radius: 3.125rem;
    margin-top: 50px;

}

.sliderTitle {
    font-size: 2.25rem;
    margin-bottom: 40px;
    text-align: center;
}

/* .carousel {
    overflow: hidden;
} */

.carouselItem {
    width: 180px;
    height: 266px;
    border-radius: 1.56rem;
}

.carouselAddItem {
    background-color: var(--white);
    width: 180px;
    height: 266px;
    border-radius: 1.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carouselAddItem:hover {
    transition: 0.3s;
    box-shadow: 0 0 9px var(--gray_blue);
}

.carouselAddItemIcon {
    background: url("../../assets/img/plus.svg") center/cover no-repeat;
    width: 75px;
    height: 75px;
}

.carouselAddItem:hover>.carouselAddItemIcon {
    width: 85px;
    height: 85px;
    transition: 0.3s;
}

/* РЕКОМЕНДАЦИИ */

.reccomendationBlock {
    margin-top: 60px;
    background-color: var(--light_blue);
    padding: 30px 80px;
    border-radius: 3.125rem;
}

.reccomendationBlockTop {
    font-size: 20px;
    color: var(--black_blue);
}

.textarea {
    margin-top: 20px;
    background: none;
    border: none;
    width: 100%;
    resize: none;
    height: 100px;
    font-size: 18px;
}

.textarea:focus {
    outline: none;
}

.publicationBtn {
    text-align: end;
}

.fileInput {
    display: none;
}

.reccomendationBlockBottom {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    position: relative;
}

.fileIcon {
    background: url("../../assets/img/icon-file.svg");
    width: 22px;
    height: 27.5px;
    display: inline-block;
    margin-left: 20px;
}

.inputFileLabel {
    display: flex;
    align-items: center;
}


/* ВОПРОСЫ */

.questionsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.questionsBlockleft {
    width: 35%;
}

.questionsBlockRight {
    width: 55%;
    background-color: var(--light_blue_half_opacity);
    border-radius: 1.56rem;
    padding: 20px;
}

.questionsBlockLeftTop {
    font-size: 2.25rem;
}

/* НАВИГАЦИОННЫЙ БЛОК */

.navigationBlock {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 70px 0;
}

.navLinkBox {
    width: 49%;
    padding: 30px 80px;
    background-color: var(--light_blue);
    border-radius: 3.125rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkBox {
    width: 49%;
    padding: 30px 80px;
    background-color: var(--light_blue);
    border-radius: 3.125rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkBox:hover {
    box-shadow: 0 0 9px var(--gray_blue);
    transition: 0.3s;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    color: var(--black_blue);
}

.arrowDown, .arrowRight {
    background: url("../../assets/img/arrow-short.svg") center/contain no-repeat;
    width: 47px;
    height: 30px;
}

.arrowDown {
    transform: rotate(90deg);
}