.questionsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.questionsBlockleft {
    width: 35%;
}

.questionsBlockRight {
    width: 55%;
    background-color: var(--light_blue_half_opacity);
    border-radius: 25px;
    padding: 20px;
}

.questionsBlockLeftTop {
    font-size: 48px;
}