.infoTableChild {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px ;
    background: #E5E8F1;
    border-radius: 50px;
    min-width: 270px;
    max-width: 270px;
    flex-basis: 33%;
    margin-bottom: 40px
}

@media screen and (max-width: 630px) {
    .infoTableChild {
        min-width: 100%;
    } 
}