.date_input{
    max-width: 700px;
    height: 3em;
    padding: 10%;
    border-radius: 25px;
    text-align: start;
    border: none;
    text-align: center;
    box-sizing: border-box;
}
.number_select{
    height: 2.5em;
    border-radius: 25px;
    min-width: 5rem;
    box-sizing: border-box;
    text-align: center;
}
.date_input:focus{
    text-align: left;
}
.date_block{
    display: flex;
    text-align: center;
    gap: 15%;
    margin: 3% 0;
}
.label_flex {
    display: flex;
    gap: 5%;
    align-items: center;
}
.near_input_text{
    white-space: nowrap;
}
.form_container{
    background-color: lightblue;
    padding: 5%;
}
.born_data_input{
    width: 100%;
    font-size: 16px;
    padding: 8px 26px;
    background-color: var(--bg_light_blue);
    border-radius: 25px;
    border: 2px solid var(--violet);
}
.date_block_short{
    display: flex;
    text-align: center;
    margin: 3% 0;
    width: 50%;
    gap: 5%;
}