.createAllergyForm {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.createAllergyLine {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.createAllergyField {
    width: 100%;
}

.createAllergyFieldTitle {
    font-size: 14px;
    color: var(--black_blue);
    opacity: 0.5;
    margin: 0 0 2px 26px;
}

.createAllergyInput {
    width: 100%;
    font-size: 16px;
    padding: 8px 26px;
    background-color: var(--bg_light_blue);
    border-radius: 25px;
    border: 2px solid var(--violet);
}

.btnBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
