.FormBox {
    width: 100%;
    max-width: 550px;
    padding: 2rem 4rem;
    margin: 0 auto;
    background: var(--light_blue);
    border-radius: 3.125rem;
}

@media screen and (min-width: 320px) {
    .FormBox {
        padding: 2rem 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .FormBox {
        padding: 2rem 4.5rem;
    }
}