.Logo {
    display: inline-block;
    width: 235px;
    height: 35px;
    background: url("../../assets/img/logo.svg") center/contain no-repeat;
}

@media screen and (max-width: 420px) {
    .Logo {
        width: 146px;
    }
}