.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(168, 168, 170);
}

.layoutContainer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: red;
    height: 100vh;
    padding: 0 130px;
}