.home_img_box {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 5%;
}

.img {
    width: 100%;
    object-fit: contain;
    background-color: rgba(135, 113, 167, 0.4);
    border-radius: 50px;
    overflow: hidden;
}

.home_content_row {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.homeTitle {
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    max-width: 800px;
    margin: 0;
    text-align: center;
}

.btn_group {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center
}



@media screen and (min-width: 320px) {
    .homeTitle {
        font-size: 40px;
    }

    .home_content_row {
        padding: 30px 20px;
        max-width: 100%;
        gap: 20px;
    }
}

@media screen and (min-width: 600px) {
    .homeTitle {
        font-size: 54px;
    }
}

@media screen and (min-width: 764px) {
    .home_content_row {
        padding-top: 0;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 0;
        right: 0;
        gap: 30px;
    }
}

@media screen and (min-width: 900px) {

    .home_content_row {
        gap: 50px;
        top: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .homeTitle {
        font-size: 64px;
    }

    .home_content_row {
        max-width: 1180px;
    }
}