.doctorCabinet {
    width: 100%;
    min-height: 55vh;
    border-top: 1px solid #89d8d3;
    padding-top: 40px;
}

.doctorTitle {
    margin: 0;
}

.doctorTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.doctorUpdate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 70px;
    background-image: linear-gradient(315deg, #dec7ff 0%, #8771a7 74%);
    border-radius: 25px;
    margin-bottom: 20px;
}

.doctorPhoto {
    width: 300px;
    background: gray;
    margin-right: 20px;
    border-radius: 15px;
}

.doctorLoginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}