.ForgotPassword {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 550px;
    height: 375px;
    margin: auto;
    margin-top: 50px;
    background: #898989;
    border-radius: 50px;
    justify-content: center;
}

.ResetTitle {
    font-weight: 500;
    font-size: 42px;
    line-height: 58px;
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    margin: 0;
}

.PasswordInput {
    width: 420px;
    height: 60px;
    background: #d9d9d9;
    border-radius: 25px;
    font-size: 20px;
    color: #000000;
    padding-left: 50px;
    margin: 0 65px 30px;
    box-sizing: border-box;
}

.PasswordButton {
    width: 155px;
    height: 40px;
    background: #d9d9d9;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin: 0 197px;
}