.NavItems {
    display: flex;
    align-items: center
}

.cabinetLink {
    margin-right: 59px;
    list-style: none;
}

.NavLink_btn {
    background: #d9d9d9;
    border-radius: 20px;
    padding: 12px 32px;
    list-style: none;
}