.Register {
    width: 860px;
    height: 440px;
    background: #898989;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 20px;
}

.RegisterTitle {
    font-weight: 500;
    font-size: 42px;
    line-height: 58px;
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    margin: 0;
}

.RegisterInput {
    background: #d9d9d9;
    border-radius: 25px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    width: 350px;
    height: 60px;
    margin: 0 -80px 24px 80px;
    padding-left: 20px;
    box-sizing: border-box;
}

.RegisterInputBig {
    width: 702px;
    height: 60px;
}

.RegisterButton {
    width: 224px;
    height: 50px;
    background: #eeeeee;
    border-radius: 25px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 20px 318px;
    box-sizing: border-box;
}