.Register {
    width: 980px;
    height: 613px;
    background: #898989;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 200px;
}

.RegisterTitle {
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.045em;
    color: #000000;
    padding: 34px 338px 80px;
    margin: 0;
}

.RegisterInput {
    background: #d9d9d9;
    border-radius: 25px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    padding-left: 30px;
    width: 380px;
    height: 77px;
    margin: 0 -80px 24px 100px;
    box-sizing: border-box;
}

.RegisterInputBig {
    width: 780px;
    height: 77px;
    left: calc(50% - 780px / 2);
    top: 528px;
}

.RegisterButton {
    width: 280px;
    height: 77px;
    background: #eeeeee;
    border-radius: 25px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 56px 350px 39px ;
    box-sizing: border-box;
}
