.Footer {
    background: #000000;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.Footer_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}

.Footer_navlink {
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #ffffff;
}

.Footer_contacts_title {
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
}
