footer {
    background: #000000;

}

.Footer_container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer_navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Footer_navlink {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

.Footer_contacts_title {
    color: #ffffff;
    margin: 0;
}