.questionBlock {
    width: 100%;
    background: #E5E8F1;
    border-radius: 35px;
    padding: 20px 60px;
    word-wrap: break-word;
    margin-bottom: 40px;
    text-align: justify;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.closeBtn {
    background: url("../../assets/img/Vector.png") center/contain no-repeat;
    width: 47px;
    height: 30px;
    cursor: pointer;
}

.questionsBlock {

}

.oneQuestionBlock {
    background: #F2F4FA;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 12px 30px;
    margin-bottom: 24px;
}

.oneQuestionBlock:hover {
    box-shadow: 0 0 9px var(--gray_blue);
    transition: 0.3s;
}

.questionBody {
    font-size: 20px;
    color: #18191C;
}

.arrowDown {
    background: url("../../assets/img/Arrow_down.png") center/contain no-repeat;
    width: 23px;
    height: 30px;
}