.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotlink {
    margin: 0 0 8px;
    text-decoration: none;
    color: white;
}

.forgotlink:hover {
    color: #616161;
}

.LoginInput {
    width: 100%;
    max-width: 420px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    color: #000000;
    padding-left: 50px;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.LoginInput:focus {
    outline: none;
    offset: inherit;
}

.LoginButton {
    width: 155px;
    height: 40px;
    background: #d9d9d9;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin: 0 197px;
}

.LoginButton:disabled {
    background: #eeebeb;
    color: #898989;
}

.typeError {
    width: 80%;
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
    padding: 0;
}

.typeText {
    margin: 20px 0;
    padding: 0;
}