.Login {
    width: 620px;
    height: 525px;
    margin: auto;
    margin-top: 100px;
    background: #898989;
    border-radius: 50px;
}

.LoginTitle {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    text-align: center;
    padding: 57px 254px 78px;
    margin: 0;
}

.LoginInput {
    width: 480px;
    height: 77px;
    background: #d9d9d9;
    border-radius: 25px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-left: 50px;
    margin: 0 70px 45px;
    box-sizing: border-box;
}

.LoginButton {
    width: 200px;
    height: 53px;
    background: #d9d9d9;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin: 0 209px;
}
