.Login {
    width: 100%;
    max-width: 550px;
    padding: 30px 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #898989;
    border-radius: 50px;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgotlink {
    margin: 0 0 8px;
    text-decoration: none;
    color: white;
}

.forgotlink:hover {
    color: #616161;
}

.LoginTitle {
    font-weight: 500;
    font-size: 42px;
    line-height: 58px;
    color: #ffffff;
    text-align: center;
    padding: 25px 0;
    margin: 0;
}

.LoginInput {
    width: 420px;
    height: 60px;
    background: #d9d9d9;
    border-radius: 25px;
    font-size: 20px;
    color: #000000;
    padding-left: 50px;
    margin: 0 0 24px;
    box-sizing: border-box;
}

.LoginButton {
    width: 155px;
    height: 40px;
    background: #d9d9d9;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    margin: 0 197px;
}

.LoginButton:disabled {
    background: #eeebeb;
    color: #898989;
}

.typeError {
    width: 80%;
    text-align: center;
    color: red;
    margin: 0 0 5px 0;
    padding: 0;
}