
.recommendationBlock {
    margin-top: 60px;
    background-color: var(--light_blue);
    padding: 30px 80px;
    border-radius: 50px;
}

.recommendationBlockTop {
    font-size: 20px;
    color: var(--black_blue);
}

.textarea {
    margin-top: 20px;
    background: none;
    border: none;
    width: 100%;
    resize: none;
    height: 100px;
    font-size: 18px;
}

.textarea:focus { 
    outline: none;
}

.publicationBtn {
    text-align: end;
}

.fileInput {
    display: none;
}

.recommendationBlockBottom {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    position: relative;
}

.fileIcon {
    background: url("../../../assets/img/icon-file.svg");
    width: 22px;
    height: 27.5px;
    display: inline-block;
    margin-left: 20px;
}

.inputFileLabel {
    display: flex;
    align-items: center;
}

.recommendationsList {
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--bg_light_blue);
    max-height: 370px;
    overflow-y: scroll;
}