:root {
	--font-family: 'Roboto', sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--black_blue: #18191C;
	--gray_blue: #85868b;
	--violet: #8771A7;
	--bg_light_blue: #F2F4FA;
	--light_blue: #E5E8F1;
	--white: #FFFFFF;
	--light_blue_half_opacity: rgb(229, 232, 241, 0.5);

	--header_height: calc(50px + 2rem);
	--footer_height: calc(69px + 4rem);
}

* {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}