.linkWithChildren {
    flex-basis: 48%;
    padding: 30px 40px;
    background-color: var(--light_blue);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-delay: 0.5s;
}

.linkWithChildren:hover {
    box-shadow: 0 0 9px var(--gray_blue);
    transition: 0.3s;
}

.linkWithChildrenText {
    text-decoration: none;
    font-size: 20px;
    color: var(--black_blue);
}

.linkWithChildrenArrow {
    background: url("../../../assets/img/arrow-short.svg") center/contain no-repeat;
    width: 40px;
    height: 25px;
    transform: rotate(90deg);
}

@media screen and (max-width: 550px) {
    .linkWithChildren {
        padding: 13px 23px;
    }
    .linkWithChildrenText {
        font-size: 14px;
    }
}


@media screen and (max-width: 900px) {
    .linkWithChildren {
        flex-basis: 100%;
    }
}