.tabs_container {
    position: relative;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
    overflow: hidden;
    cursor: pointer;
    width: calc(100% - 100px);
}

.tab_content {
    position: absolute;
    top: 54px;
    width: 100%;
}